*{
    margin: 0 ; 
    padding: 0 ; 
    box-content: border-box; 
     font-family:    "Libre Franklin", sans-serif;  
 
} 
:root{
    
}

body{ 
    background-color: #FFF; 
}

#email {
    border-radius: 12.5rem; /* 12.5px to rem */
    height: 3.063rem; /* 49px to rem */
    width: 23.0rem; /* 368px to rem */
    border: #D3D3D3 1px solid;
    outline: none; 
    margin-top: 1.25rem; /* 20px to rem */
}

.charted img{
    margin-top: 3.125rem; 
    width: 41.25rem;  
     
}
.section{
    
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh ;


}
.blue{
    color: hsl(223, 87%, 63%);  
}
.subscribe {
    font-size: 1rem; /* 16px to rem */
    margin-top: -1.25rem; /* -20px to rem */
    margin-bottom: 1.25rem; /* 20px to rem */
}

body{ 
    font-size:  1.25rem;
}
.we-are-launching {
    font-size: 2.5rem; /* 40px to rem */
    margin: 2.188rem; /* 35px to rem */
    margin-top: 2.5rem; /* 40px to rem */
}

.icons {
    color: hsl(223, 87%, 63%);
    display: flex; 
    justify-content: center;
    gap: 1.813rem; /* 29px to rem */
    font-size: 0.938rem; /* 15px to rem */
    margin-top: 3.125rem; /* 50px to rem */
    margin-bottom: 2.25rem; /* 36px to rem */
}

.copyright {
    font-size: 0.625rem; /* 10px to rem */
    color: hsl(0, 0%, 59%);
}


.gray-text{
    color:   hsl(0, 0%, 59%); 
    font-weight: 300; 

}
.button {
    border-radius: 6.25rem; /* 100px to rem */
    height: 3.063rem; /* 49px to rem */
    width: 10.563rem; /* 169px to rem */
    background-color: hsl(223, 87%, 63%); 
    color: white;     
    margin-left: 0.625rem; /* 10px to rem */
    border: none; 
}


.section{
   text-align: center; 

}

.paragraph {
    color: white; 
    margin-top: 1.25rem;  /* 20px to rem */
    margin-right: 10.313rem;  /* 165px to rem */
    font-size: 0.875rem;  /* 14px to rem */
    font-family: "Abel", sans-serif;
}


